@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;900&display=swap");

$Palelue: hsl(225, 100%, 94%);
$BrightBlue: hsl(245, 75%, 52%);

$VeryPaleBlue: hsl(225, 100%, 98%);
$DesaturatedBlue: hsl(224, 23%, 55%);
$DarkBlue: hsl(223, 47%, 23%);

$font: "Red Hat Display", sans-serif;

body {
  background-color: $Palelue;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
}

.card {
  width: 22rem;
  border-radius: 15px;
  background-color: white;

  .card-body {
    padding: 1rem 2rem;
  }

  .card-header {
    text-align: center;

    h2 {
      font-weight: 900;
      font-size: 24px;
    }
  }

  .plan {
    display: flex;
    align-items: center;
    background-color: $VeryPaleBlue;
    padding: 1.3rem;
    border-radius: 15px;

    img {
      width: 40px;
      height: 40px;
      color: $DesaturatedBlue;
    }

    .price {
      display: flex;
      flex-direction: column;
      margin-left: 1rem;
    }

    .plan-text {
      font-weight: 600;
    }

    .price-year {
      color: $DesaturatedBlue;
      margin-top: 3px;
    }

    a {
      margin-left: auto;
      color: $BrightBlue;
      font-weight: bolder;
      font-size: 12px;

      &:hover {
        text-decoration: none;
        color: #766cf1;
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;

    .payment-btn {
      border: 0;
      background-color: $BrightBlue;
      padding: 0.7rem;
      margin: 1.4rem 0;
      border-radius: 8px;
      color: white;
      font-weight: bold;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: #766cf1;
        cursor: pointer;
      }
    }

    .cancel-btn {
      border: 0;
      background-color: transparent;
      color: $DesaturatedBlue;
      padding: 0.7rem;
      margin: 0 0 1rem 0;
      border-radius: 8px;
      font-weight: bold;

      &:hover {
        color: $DarkBlue;
        cursor: pointer;
      }
    }
  }
}
